
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5 {
	color: #666;
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 16px;
}

h3 {
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}

/* BOOTSTRAP custom classes */
.navbar {
	min-height: 50px;
	margin-bottom: 5px;
}

.navbar-brand img {
	max-width: 140px;
}

.navbar-form {
	border: none !important;
}


.page-header {
	margin: 5px 0px;
}

/** EFX custom classes */
.efx-puntaje {
	font-size: 2.2em;
	border: 10px solid #d1d1d1;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	display: block;
	padding: 10px;
	color: #666;
	background: #fff;
	margin: 15px auto;
	line-height: 60px;
}


/** form sign-in */
.form-signin {
	margin: 100px auto 20px auto;
	max-width: 300px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	padding: 10px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#wapAdminContent div.wapConfigForm {
	margin: 15px auto 0;
	padding: 20px;
	background-color: #fff;
	/* border */
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	/* float */
	float: right;
}
#wapAdminContent div.wapConfigForm span.symbol { font-weight: bold; font-size: 14px; font-family: Arial; color: #666; }

fieldset {
	margin-bottom: 5px;
	/* border */
	border: 1px dashed #e8e8e8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.row-form {
	display: inline-block;
	*display: inline;
	margin: 5px;
	vertical-align: middle;
	*float:left;
}
div.row-form label,
div.row-form input { display: inline-block; *display: inline; }

div.row-form-spacing { margin-right: 50px; }
input.small { width: 50px; }
input.numberfield { text-align: right; }

.clear { display: block; clear: both; }
#wapAdminContent input[type="text"] {
	display: inline-block;
	*display: inline;
	margin: 2px 0;
	padding: 8px;
	/* border */
	outline: none;
	border: 2px solid #e6e6e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* text */
	color: #333;
	font-size: 12px;
}
#wapAdminContent select {
	display: inline-block;
	*display: inline;
	margin: 2px 0;
	padding: 8px !important;
	/* border */
	outline: none;
	border: 2px solid #e6e6e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* text */
	color: #333;
	font-size: 12px;
}
#wapAdminContent div.wapConfigForm {
	margin: 15px auto 0;
	padding: 20px;
	background-color: #fff;
	/* border */
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	/* float */
	float: right;
}
#wapAdminContent div.wapConfigForm span.symbol { font-weight: bold; font-size: 14px; font-family: Arial; color: #666; }
#wapAdminContent div.wapConfigForm div.btns {
	margin-top: 20px;
	/* text */
	text-align: right;
}
#wapAdminContent div.wapConfigForm div.btns a { margin-right: 10px; }
